#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.todo-container,.todo-icon-container {
display: flex;
  align-items: center;
  justify-content: space-between;
  
}


.completed {
  text-decoration: line-through;
}